{% extends "srjdjango/base.html" %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}

{% block body_block %}

  <div class="container" style="margin-top:7rem; margin-bottom:3rem;">
    <div class="row">
      <div class="col-lg-6">
        <div class="jumbotron animated zoomIn" style="background: linear-gradient(-90deg, #443254,#211e40, #8b708a,#241f24,#a78686)">
          <h3 style="color:#ecb939"> <center> HISTORY </center> </h3>
            <p style="color:#ecb939">Mahalingam Paramasivam Acharya dedicted his life completely for making Gold ornaments Manufacturing since 1948.</p>
            <p style="color:#ecb939">He spcialised in Diamond,american Diamond Based Gold Jewel Ornaments. His vision always customer delight.</p>
            <p style="color:#ecb939">Based on his teach and training our Genrations Started working on Customised Gold Jewel ornaments and planned to Provide end to end solution on Gold & Silver.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'images/hist.png' %}" class="img-fluid animated bounceInRight" alt="history1"/>
      </div>
    </div>
  </div>


{% endblock %}
