<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'images/fav.ico' %}">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'srjdjango/css/animate.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'srjdjango/css/homepage_style.css' %}">
</head>
<style media="screen">
  body {
  }
</style>

<body style="font-family: 'Yantramanav', sans-serif;">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: linear-gradient(-90deg, #00FFFF, #FF3E96);">
    <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'images/srj.png' %}" alt="" class="animated flip"> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          History
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'hoj' %}">History of jewel</a>
            <a class="dropdown-item" href="{% url 'uoj' %}">Use of jewel</a>
            <a class="dropdown-item" href="{% url 'hog' %}">History of gold</a>
            <a class="dropdown-item" href="{% url 'hos' %}">History of silver</a>
            <a class="dropdown-item" href="{% url 'hon' %}">History of navaratna</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Verticals
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'gold' %}">Gold</a>
            <a class="dropdown-item" href="{% url 'silver' %}">Silver</a>
            <a class="dropdown-item" href="{% url 'navaratna' %}">Navarathna (GEMS)</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jewelcare' %}">Jewel Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'enquiry' %}">Enquiry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wellsaid' %}">Well Said</a>
        </li>

      </ul>
    </div>
  </nav>




{% block body_block %} {% endblock %}




  <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="appdash">We are glad to have you here. </p>
          <p class="appdash"><span class="fa fa-heart-o" aria-hidden="true"></span>Customer Delight is the Real Success.<span class="fa fa-heart-o" aria-hidden="true"></span></p>
          <img src="{% static 'images/srj_footer.png' %}" alt="footer-logo" class="img-fluid" style="text-align:left">
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="appdash">Address</li>
            <li class="appdash">Telugu Street,</li>
            <li class="appdash">Coimbatore</li>
            <li class="appdash">India</li>
            <li class="appdash">+91-9535014213</li>
            <li class="appdash"><a href="www.s-r-j.com">www.s-r-j.com</a></li>
            <li class="appdash">sriraghavendrajewellers1948@gmail.com</li>

          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="appdash"><a href="{% url 'home' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Home">&nbsp;Home</a></li>
            <li class="appdash"><a href="{% url 'about_us' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="About us">&nbsp;About us</a></li>
            <li class="appdash"><a href="{% url 'hoj' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of gold">&nbsp;History of gold</a></li>
            <li class="appdash"><a href="{% url 'jewelcare' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Jewel care">&nbsp;Jewel care</a></li>
            <li class="appdash"><a href="{% url 'wellsaid' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Well said">&nbsp;Well said</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="appdash"><a href="{% url 'gold' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Gold">&nbsp;Gold</a></li>
            <li class="appdash"><a href="{% url 'silver' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Silver">&nbsp;Silver</a></li>
            <li class="appdash"><a href="{% url 'navaratna' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Navaratna">&nbsp;Navaratna</a></li>
            <li class="appdash"><a href="{% url 'enquiry' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Enquiry">&nbsp;Enquiry</a></li>

          </ul>
        </div>


        <div class="col-md-3 socialmedia">
          <ul class="list-unstyled">
            <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Facebook"></i></a>

            <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Twitter"></i></a>

            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Google plus"></i></a>

            <a href="https://plus.google.com/"><i id="social-li" class="fa fa-linkedin-square fa-3x social" data-toggle="tooltip" data-placement="left" title="linkedin"></i></a>
          </ul>
          <p> &copy; copyright 2018</p>
          <p>coded by <a href="https://www.linkedin.com/in/nandakrishnan-selvaraj-261a2277/">chirpy</p>
              </div>
      </div>
  </div>
  </footer>

  <script>
    $('.carousel').carousel({
      interval: 1000
    })
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="{% static 'srjdjango/js/footer.js' %}"></script>
  </body>

  </html>
