{% extends "srjdjango/base.html" %}
{% load staticfiles %}
{% block title %}Enquiry{% endblock %}

{% block body_block %}

    <section id="contact_form">

        <div class="container fontsforweb_fontid_6771">
            <div class="jumbotron contact_jumbotron animated bounceInUp" style="margin-top: 7rem; background: linear-gradient(-90deg, #241663,#0d2a67, #27014f,#083889,#02002f)">
                <cennter><h1 style="color:white">Upload your customized design and get the quote within 24 hours</h1></cennter>
                <h2 class="contact-text" style="color:#EEC900">Enquiry Form</h2>
                    <form method="POST" id="contact-form" class="font-color">
                      {% csrf_token %}
                      {{ form.as_p }}
                     
                      <input type="Submit" value="Submit" class="btn btn-primary" id="sub_button">
                   </form>
            </div>
        </div>

    </section>

{% endblock %}
