<html>
{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/fav.ico' %}">
    <title>Silver</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/static/srjdjango/css/weather.css"> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
  <!--<link rel="stylesheet" href="{% static 'srjdjango/css/weather.css' %}">-->

  <!-- below api for nav and footer  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'srjdjango/css/animate.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'srjdjango/css/homepage_style.css' %}">

  <!-- / End here /  -->
  <style>

  @font-face {
  font-family: 'MTCORSVA';
  src: url('{% static 'font//MTCORSVA.eot' %}');
  src: local('MTCORSVA'), url('{% static 'font/MTCORSVA.woff' %}') format('woff'), url('{% static 'font/MTCORSVA.ttf' %}') format('truetype');
  }
  /* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6771">Text with this font applied</p> */
  .fontsforweb_fontid_6771 {
  font-family: 'MTCORSVA' !important;
  font-size: 22px;
  }
    .card-header{
    background: linear-gradient(-90deg, #b598c2, #dfdfdf);
    text-align: center;
    font-weight: 700;
}
.card-footer{
    background: linear-gradient(-90deg, #b598c2, #dfdfdf);
}

.card:hover{
   box-shadow: 0px 0px 150px #FF82AB;
    z-index: 1;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.0);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.0);
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.0);
    transition: all 300ms ease-in;
    transform: scale(1.0);
    cursor: pointer
}
.snow{
   background-image:
           url('{% static 'images/snow.png' %}'),
           url('{% static 'images/snow1.png' %}'),
           url('{% static 'images/snow2.png' %}');
   width: 100%;
   height:100%;
   position: absoulute;
   top: 0;
   left: 0;
   z-index:1;
   animation: snow 20s linear infinite;
}
@keyframes snow {
    from {background-position: 0px 0px, 0px 0px, 0px 0px;}
    to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@media only screen and (max-width:425px){
  .card{
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 5%;
  }
}

#rotation {
  -webkit-animation: rotation 5s infinite linear;
} 

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

  </style>

</head>
<body class="snow " style="background-color:#000000;overflow-y:scroll;">
  <nav class="navbar navbar-expand-sm navbar-dark" style="">

    <!-- <nav class="navbar navbar-expand-sm navbar-dark fixed-top fontsforweb_fontid_6771" style="background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);font-family:'Work Sans', -apple-system, BlinkMacSystemFont, "> -->

  <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'images/srj.png' %}" alt="" class="" style="width: 100%;"> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:#009B91;">
  <span class="navbar-toggler-icon" ></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav menu ">
      <li class="nav-item">
        <a class="nav-link" style="color:#009B91;" href="{% url 'home' %}">Home&nbsp;|</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" style="color:#009B91;" href="{% url 'about_us' %}">About Us&nbsp;|</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#009B91;">
            History&nbsp;|
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'hoj' %}">History of jewel</a>
          <a class="dropdown-item" href="{% url 'uoj' %}">Use of jewel</a>
          <a class="dropdown-item" href="{% url 'hog' %}">History of gold</a>
          <a class="dropdown-item" href="{% url 'hos' %}">History of silver</a>
          <a class="dropdown-item" href="{% url 'hon' %}">History of Navaratna</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#009B91;">
            Verticals&nbsp;|
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'gold' %}">Gold</a>


          <a class="dropdown-item" href="{% url 'navaratna' %}">Navarathna (GEMS)</a>
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black; padding-left:1.5rem;">Silver<a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinks">
                <a class="dropdown-item" tabindex="-1" href="{% url 'gift' %}">Gift</a>
                <a class="dropdown-item" tabindex="-1" href="{% url 'trad' %}">Traditional</a>
            </div>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#009B91;" href="{% url 'jewelcare' %}">Jewel Care&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#009B91;" href="{% url 'enquiry' %}">Enquiry&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:#009B91;" href="{% url 'wellsaid' %}">Feedback</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" style="color:#009B91;" href="{% url 'news' %}">News</a>
      </li> -->


          <!-- <li><a href="https://www.facebook.com/SriRaghavJewellers/"><img src="{% static 'images/fb.png' %}" style="height: 38px;"/></a></li>
          <li><img src="{% static 'images/whatsapp.png' %}" title="9535014213" style="height: 38px; padding-left: 2px"></li> -->
      </ul>
      <ul class="navbar-nav menu ml-auto">
        <li class="nav-item">
            <h2 class="nav-link" style="color:#009B91;"><b><span style="color:#009B91">Sri</span> <span style="color:#009B91">Raghav</span> <span style="color:#009B91">Jewellers</span></b></h2>
          </li>
    </ul>


  </div>
</nav>
  
  
  <div class="container" style="margin-top:10%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/1.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/2.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/3.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/4.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/5.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/6.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/7.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/8.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/9.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/10.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/11.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/12.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/13.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/14.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/15.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/16.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/17.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/18.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/19.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/20.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/21.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/22.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/23.gif' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/24.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/25.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/26.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/27.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/28.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top:5%; margin-bottom:2rem;">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/29.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="{% static 'images/gift/30.png' %}" class="img-fluid" />
          </div>
          <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <img src="{% static 'images/trad/11.png' %}" class="img-fluid" />
            </div>
            <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card">
              <div class="card-header"></div>
              <div class="card-body">
                <img src="{% static 'images/trad/29.png' %}" class="img-fluid" />
              </div>
              <div class="card-footer"><center><img src="{% static 'images/srj.png' %}" alt="logo"></center></div>
            </div>
          </div>
          
      

    </div>
  </div>


  <footer id="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="{% static 'images/srj_footer.png' %}" alt="footer-logo" class="img-fluid" data-os-animation="flip" data-os-animation-delay="0s" style="text-align:center">
            <p class="appdash" style="padding-top: 5px; font-size: 12px"><b><center>Customer Delight is the Real Success.</center></b></p>
            
          </div>
    
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li class="appdash">Contact</li>
              <li class="appdash"> Sri Raghav jewellers,</li>
              <li class="appdash">Coimbatore</li>
              <li class="appdash">Bangalore</li>
              <li class="appdash">+91-9535014213</li>
              <li class="appdash">www.s-r-j.com</li>
              <li class="appdash">sriraghavendrajewellers1948@gmail.com</li>
    
            </ul>
          </div>
    
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'home' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Home">&nbsp;Home</a></li>
                      <li class="appdash"><a href="{% url 'about_us' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="About us">&nbsp;About us</a></li>
                     
                      <li class="appdash"><a href="{% url 'jewelcare' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Jewel care">&nbsp;Jewel care</a></li>
                      <li class="appdash"><a href="{% url 'wellsaid' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Feedback">&nbsp;Feedback</a></li>
                      <li class="appdash"><a href="{% url 'enquiry' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Enquiry">&nbsp;Enquiry</a></li>
                      <li class="appdash"><a href="{% url 'news' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="News">&nbsp;News</a></li>
                    </ul>
                  </div>
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'gold' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Gold">&nbsp;Gold</a></li>
                      <li class="appdash"><a href="{% url 'gift' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Gift">&nbsp;Gift</a></li>
                      <li class="appdash"><a href="{% url 'trad' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Traditional">&nbsp;Traditional</a></li>
                      <li class="appdash"><a href="{% url 'navaratna' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Navaratna">&nbsp;Navaratna</a></li>
                      
    
                    </ul>
                  </div>
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'hoj' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of jewel">&nbsp;History of jewel</a></li>
                      <li class="appdash"><a href="{% url 'uoj' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Use of jewel">&nbsp;Use of jewel</a></li>
                      <li class="appdash"><a href="{% url 'hog' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of gold">&nbsp;History of gold</a></li>
                      <li class="appdash"><a href="{% url 'hos' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of silver">&nbsp;History of silver</a></li>
                      <li class="appdash"><a href="{% url 'hon' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of navaratna">&nbsp;History of navaratna</a></li>
                    </ul>
                  </div>
    
    
          <div class="col-md-2 socialmedia">
            <ul class="list-unstyled">
              <a href="https://www.facebook.com/SriRaghavJewellers/"><i id="social-fb" class="fa fa-facebook-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Facebook"></i></a>
              <li><img src="{% static 'images/whatsapp.png' %}" title="9535014213" style="height: 45px; padding-bottom: 10px"><span>&nbsp; 9535014213</span></li></li>
    
              <!-- <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Twitter"></i></a>
    
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Google plus"></i></a>
    
              <a href="https://plus.google.com/"><i id="social-li" class="fa fa-linkedin-square fa-3x social" data-toggle="tooltip" data-placement="left" title="linkedin"></i></a> -->
            </ul>
            <p> &copy; copyright 2019</p>
            <p>coded by <a href="https://www.linkedin.com/in/nandakrishnan-selvaraj-261a2277/">chirpy</p>
                </div>
        </div>
    </div>
    </footer>
  

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
          <script src="{% static 'srjdjango/js/footer.js' %}"></script>
    </body>


</html>
