<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} home {% endblock %}</title>
  <link rel="icon" href="{% static 'images/fav.ico' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'srjdjango/css/animate.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'srjdjango/css/homepage_style.css' %}">
</head>

<style media="screen">
@font-face {
font-family: 'MTCORSVA';
src: url('{% static 'font//MTCORSVA.eot' %}');
src: local('MTCORSVA'), url('{% static 'font/MTCORSVA.woff' %}') format('woff'), url('{% static 'font/MTCORSVA.ttf' %}') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6771">Text with this font applied</p> */
.fontsforweb_fontid_6771 {
font-family: 'MTCORSVA' !important;
font-size: 22px;
}

</style>

<body class="fontsforweb_fontid_6771">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top fontsforweb_fontid_6771" style="background: linear-gradient(-90deg, #00FFFF, #FF3E96);">
    <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'images/srj.png' %}" alt="" class="animated flip"> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav menu">
        <li class="nav-item">
          <a class="nav-link" style="color:#dfdfe6;" href="{% url 'home' %}"><b>Home</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#dfdfe6;" href="{% url 'about_us' %}"><b>About Us</b></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#dfdfe6;">
              <b>History</b>
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'hoj' %}">History of jewel</a>
            <a class="dropdown-item" href="{% url 'uoj' %}">Use of jewel</a>
            <a class="dropdown-item" href="{% url 'hog' %}">History of gold</a>
            <a class="dropdown-item" href="{% url 'hos' %}">History of silver</a>
            <a class="dropdown-item" href="{% url 'hon' %}">History of Navaratna</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#dfdfe6;">
              <b>Verticals</b>
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'gold' %}">Gold</a>


            <a class="dropdown-item" href="{% url 'navaratna' %}">Navarathna (GEMS)</a>
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black; padding-left:1.5rem;">Silver<a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinks">
                  <a class="dropdown-item" tabindex="-1" href="{% url 'gift' %}">Gift</a>
                  <a class="dropdown-item" tabindex="-1" href="{% url 'trad' %}">Traditional</a>
              </div>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#dfdfe6;" href="{% url 'jewelcare' %}"><b>Jewel Care</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#dfdfe6;" href="{% url 'enquiry' %}"><b>Enquiry</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#dfdfe6;" href="{% url 'wellsaid' %}"><b>Feedback</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:#dfdfe6;" href="{% url 'news' %}"><b>News</b></a>
          </li>

      </ul>
      <ul class="nav navbar-nav ml-auto">
          <li style="color:#A0522D;"><h3><b>Sri Raghav Jewellers</b></h3></li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li><a href="https://www.facebook.com/SriRaghavJewellers/"><img src="{% static 'images/fb.png' %}" style="height: 38px;"/></a></li>
            <li><img src="{% static 'images/whatsapp.png' %}" title="9535014213" style="height: 38px; padding-left: 2px"></li>
        </ul>


    </div>
  </nav>



  <section id="scrolling" style="margin-top: 6rem">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'images/slide1.png' %}" alt="Second slide">
          <div class="carousel-caption d-md-block">
            <div class="container " style="background-color: rgba(0,0,0,0) !important; color:#FAF0E6; margin-left: 650px!important; margin-top: 300px!important; width:50%;">
              <h2>"Jewellery has the power to be the one little thing that make you feel unique"</h2>
                
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'images/slide2.png' %}" alt="Second slide">
          <div class="carousel-caption d-md-block">
              <!-- <div class="jumbotron " style="background-color: rgba(0,0,0,0.2) !important; width:50%; margin-left:100px !important; color:#FAF0E6; margin-top: 280px!important;">
                  <h1>"Jewellery is the most Transformative thing you can wear"</h1>
                </div> -->
          </div>
        </div>        
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'images/slide4.png' %}" alt="Third slide">
          <div class="carousel-caption d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'images/slide3.png' %}" alt="Second slide">
          <div class="carousel-caption d-md-block">
              <!-- <div class="jumbotron " style="background-color: rgba(0,0,0,0.2) !important; width:50%; margin-left:-200px !important; margin-top:200px !important; color:#FAF0E6; ">
                  <h1>"Jewellery has the power to be the one little thing that make you feel unique"</h1>
                </div> -->
          </div>
        </div>
       
        </div>
      </div>
   
    </div>
  </section>



  <section id="vmq">
    <div class="container">
      <div class="card-group">
        <div class="card" style="background:rgba(0,0,0,0.4); color:white;">
          <img class="card-img-top animated slideInLeft delay" src="{% static 'images/vision.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><center><strong>Vision</strong></center></h5>
            <p class="card-text"><center>To continue the heritage of making best quality precious metal jewellery and make a difference in the society in all possible ways.</center></p>
          </div>
        </div>
        <div class="card" style="background:rgba(0,0,0,0.4); color:white;">
          <img class="card-img-top animated bounceInUp delay" src="{% static 'images/quality.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><center><strong>Mission</strong></center></h5>
            <p class="card-text"><center>To express themselves with an array of jewellery made to perfection by experienced craftsmen using superior quality of precious metals.Products for the customer, by customer’s specifications with customer’s requirements.</center></p>
          </div>
        </div>
        <div class="card" style="background:rgba(0,0,0,0.4); color:white;">
          <img class="card-img-top animated slideInRight delay" src="{% static 'images/mission.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><center><strong>Quality</strong></center></h5>
            <p class="card-text"><center>To provide the quality that ensures customer delight.</center></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <footer id="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="{% static 'images/srj_footer.png' %}" alt="footer-logo" class="img-fluid" data-os-animation="flip" data-os-animation-delay="0s" style="text-align:center">
            <p class="appdash" style="padding-top: 5px; font-size: 12px"><b><center>Customer Delight is the Real Success.</center></b></p>
            
          </div>
    
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li class="appdash">Contact</li>
              <li class="appdash"> Sri Raghav jewellers,</li>
              <li class="appdash">Coimbatore</li>
              <li class="appdash">Bangalore</li>
              <li class="appdash">+91-9535014213</li>
              <li class="appdash">www.s-r-j.com</li>
              <li class="appdash">sriraghavendrajewellers1948@gmail.com</li>
    
            </ul>
          </div>
    
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'home' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Home">&nbsp;Home</a></li>
                      <li class="appdash"><a href="{% url 'about_us' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="About us">&nbsp;About us</a></li>
                     
                      <li class="appdash"><a href="{% url 'jewelcare' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Jewel care">&nbsp;Jewel care</a></li>
                      <li class="appdash"><a href="{% url 'wellsaid' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Feedback">&nbsp;Feedback</a></li>
                      <li class="appdash"><a href="{% url 'enquiry' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Enquiry">&nbsp;Enquiry</a></li>
                      <li class="appdash"><a href="{% url 'news' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="News">&nbsp;News</a></li>
                    </ul>
                  </div>
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'gold' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Gold">&nbsp;Gold</a></li>
                      <li class="appdash"><a href="{% url 'gift' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Gift">&nbsp;Gift</a></li>
                      <li class="appdash"><a href="{% url 'trad' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Traditional">&nbsp;Traditional</a></li>
                      <li class="appdash"><a href="{% url 'navaratna' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Navaratna">&nbsp;Navaratna</a></li>
                      
    
                    </ul>
                  </div>
    
                  <div class="col-md-2">
                    <ul class="list-unstyled">
                      <li class="appdash"><a href="{% url 'hoj' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of jewel">&nbsp;History of jewel</a></li>
                      <li class="appdash"><a href="{% url 'uoj' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Use of jewel">&nbsp;Use of jewel</a></li>
                      <li class="appdash"><a href="{% url 'hog' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of gold">&nbsp;History of gold</a></li>
                      <li class="appdash"><a href="{% url 'hos' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of silver">&nbsp;History of silver</a></li>
                      <li class="appdash"><a href="{% url 'hon' %}" class="font-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="History of navaratna">&nbsp;History of navaratna</a></li>
                    </ul>
                  </div>
    
    
          <div class="col-md-2 socialmedia">
            <ul class="list-unstyled">
              <a href="https://www.facebook.com/SriRaghavJewellers/"><i id="social-fb" class="fa fa-facebook-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Facebook"></i></a>
              <li><img src="{% static 'images/whatsapp.png' %}" title="9535014213" style="height: 45px; padding-bottom: 10px"></li>
    
              <!-- <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Twitter"></i></a>
    
              <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social" data-toggle="tooltip" data-placement="left" title="Google plus"></i></a>
    
              <a href="https://plus.google.com/"><i id="social-li" class="fa fa-linkedin-square fa-3x social" data-toggle="tooltip" data-placement="left" title="linkedin"></i></a> -->
            </ul>
            <p> &copy; copyright 2018</p>
            <p>coded by <a href="https://www.linkedin.com/in/nandakrishnan-selvaraj-261a2277/">chirpy</p>
                </div>
        </div>
    </div>
    </footer>

  <script>
    $('.carousel').carousel({
      interval: 1000
    })
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script src="{% static 'srjdjango/js/footer.js' %}"></script>
</body>

</html>
