{% extends "srjdjango/base.html" %}
{% load staticfiles %}
{% block title %}History of Navaratna{% endblock %}

{% block body_block %}

<section id="hoj">
  <div class="container jumbotron animated zoomIn fontsforweb_fontid_6771" style="margin-top:5rem; background:none;border:1px solid #009B91;">

    <h2 style="color:#009B91">HISTORY OF NAVARATNA</h2>
    <h3 class="green_color">Navaratna Indian Jewelry – Meaning and Designs</h3>
    <p class="black_font">Navaratna Indian Jewelry has a very interesting history from ancient India. It’s believed that the Hindu universe consists of seven planets and two “nodes”. Together these are loosely referred to as nine planets. Each of the nine planets have their corresponding celestial Gods, also known as the navagraha. The nine celestial Gods in turn are associated with nine gemstones, known as the navaratna.</p>
    <p class="black_font">In this post, you’ll learn everything you need to know about the nine gemstones, navaratna, the symbolic arrangement of the gemstones and benefits of navaratna jewelry. We will wrap up with beautiful navaratna jewelry designs for everyday wear.</p>
    <p class="black_font">Each of the nine celestial Gods correspond to the Earth’s sun, moon, five planets and two “nodes.” Together they form the Hindu universe. It is believed that the nine planets and their corresponding deities have an influence on humans and their destiny. The nine celestial Gods are Sun (Surya), Moon (Chandra), Mercury (Budha), Venus (Shukra), Saturn (Shani), Mars (Mangala), Jupiter (Brhaspati), Ascending Node, or Dragon’s Head (Rahu) and the Descending Node, or Dragon’s Tail (Ketu).</p>
    <h3 class="green_color">Navaratna – Nine Gemstones</h3>
    <p class="black_font">In the old days, gemstones were used to prevent and cure illness and other evils. These gemstones were diamonds, pearls, ruby, sapphire, emerald, topaz, cat’s eye, coral and hyacinth or zircon. These nine gemstones are known as the navaratna. The word “ratna” refers to a precious stone. The nine gemstones are further divided into the great stones, Maharatani and and lesser stones, Uparatnani. This great stones have stayed the same over the course of human history but the lesser stones have varied over time. The table below show the oldest accounts of the gemstones forming the navaratna.</p>
    <table class="table borderless black_font">
  <tbody>
    <tr>
      <td><b class="green_color">Great Stones</b></th>
        <td></td>
      <td><b class="green_color">Lesser Stones</b></th>
    </tr>
    <tr>
      <td>Diamond</td>
      <td><img src="{% static 'images/1.png' %}"></td>
      <td>Topaz</td>
      <td><img src="{% static 'images/2.png' %}"></td>
    </tr>
    <tr>
      <td>Pearl</td>
      <td><img src="{% static 'images/3.png' %}"></td>
      <td>Cat’s Eye</td>
      <td><img src="{% static 'images/4.png' %}"></td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td><img src="{% static 'images/5.png' %}"></td>
      <td>Coral</td>
      <td><img src="{% static 'images/6.png' %}"></td>
    </tr>
    <tr>
      <td>Sapphire</td>
      <td><img src="{% static 'images/7.png' %}"></td>
      <td>Hyacinth or Zircon</td>
      <td><img src="{% static 'images/8.png' %}"></td>
    </tr>
    <tr>
      <td>Emerald</td>
      <td><img src="{% static 'images/9.png' %}"></td>
    </tr>
  </tbody>
</table>

  <h3 class="green_color">Basic Concepts of Hindu Astrology</h3>
  <p class="black_font">In order to understand the relationship between the nine celestial gods and the gemstones, we first need to briefly discuss Hindu astrology. Of the nine planets of the Hindu universe, the Sun is considered the chief and ruler. As you may know, when sunlight passes through a prism, it forms spectrum of seven colors. The same phenomenon is believed to occur in the universe. Sunlight splits in seven cosmic rays.</p>
  <p class="black_font">It’s believed that each planet is a condensation of a colored cosmic ray. A planet in turn radiates the specific colored cosmic ray on Earth. The cosmic rays are penetrated and absorbed by matter on Earth including humans. The rays are diffused within our bodies and also radiate outward, known as the aura or prabha. The Moon (Chandra), Jupiter (Brhaspati) and Venus (Shukra) are beneficial to humans. Mercury (Budha) is lucky but can be unlucky. The remaining planets i.e. Sun (Surya), Mars (Mangala), Saturn (Shani), Ascending Node (Rahu) and Descending Node (Ketu) are harmful and unlucky.</p>
  <p class="black_font">Also during certain times of the year, the spatial orientation of the different planets can be harmful and evil. However, the ills effects can be averted. Unlucky planets and their corresponding deities are offered flowers, plants, grains, or burnt offerings to prevent illness and achieve prosperity. Every year information about the planets and their spatial orientation is published in a Hindu almanac. When a Hindu child is born, the orientation of the planets is recorded. It is believed that the orientation of planets determines the child’s future.</p>

  <h3 class="green_color">Relationship Between Navagraha and Navaratna</h3>
  <p class="black_font">Now that you have the basic understanding of the nine planets, nine celestial gods and nine gemstones, let’s tie it all together. According to a myth, the demon Bala wanted to go to heaven and conquer God Indra. The celestial gods suggested to Bala that he sacrifice himself. Bala agreed and the gods dismantled his body. Bala’s body parts transformed into gemstones. The table below highlights Bala’s body parts and the gemstones in which they transformed.</p>


<table class="table borderless black_font">
<tbody>
<tr>
  <td><b class="green_color">Bala – The Demon’s Body Part	</b></th>
  <td><b class="green_color">Gemstone</b></th>
</tr>
<tr>
  <td>Blood</td>
  <td>Ruby</td>
</tr>
<tr>
  <td>Teeth</td>
  <td>Pearl</td>
</tr>
<tr>
  <td>Bile</td>
  <td>Emerald</td>
</tr>
<tr>
  <td>Bones</td>
  <td>Diamond</td>
</tr>
<tr>
  <td>Eyes</td>
  <td>Sapphire</td>
</tr>
<tr>
  <td>Flesh</td>
  <td>Coral</td>
</tr>

<tr>
  <td>Skin</td>
  <td>Topaz</td>
</tr>
<tr>
  <td>Sapphire</td>
  <td>Hyacinth or Zircon</td>
</tr>
<tr>
  <td>Marrow</td>
  <td>Chrysoberyl</td>
</tr>
<tr>
  <td>Body Fluid</td>
  <td>Beryl</td>
</tr>
<tr>
  <td>Finger Nail’s</td>
  <td>Cat’s Eye</td>
</tr>
<tr>
  <td>Fat</td>
  <td>Rock Crystal</td>
</tr>
<tr>
  <td>Semen</td>
  <td>Bhisma, an unspecified stone</td>
</tr>

</tbody>
</table>

<p class="black_font">Since there were nine gods, each of them held a gemstone. This is how the gemstones came to associated with a celestial gods. The gemstones store in them the cosmic rays which are discharged forever. The stored energy in each gemstone is continuously renewed by emission from the corresponding planet. The nine gemstones as a whole possess magical powers that influence the wearer.</p>
<h3 class="green_color">Benefits of the Navaratna Jewelry</h3>
<p class="black_font">So far you’ve learned the arrangement of the nine gods, navagraha and their associated nine gemstones, navaratna in totality represents the Hindu universe. Each celestial god controls a particular direction in the universe. This analogy extends to the nine gemstones. The gods descend into the gemstone to protect the wearer. The associated gemstone in turn controls a the direction of the wearer’s life. Below are the potential benefits of navaratna jewelry, which includes bracelets, rings, and necklaces.</p>
  <ul class="black_font">
    <li>Protects the person from evil influence from all directions</li>
    <li>Promotes prosperity, longevity and success</li>
    <li>Treats and heals illness</li>
  </ul>

  </div>
</section>

{% endblock %}
