{% extends "srjdjango/base.html" %}
{% load staticfiles %}
{% block title %}Jewel care{% endblock %}

{% block body_block %}

  <section id="jewelcare1" class="fontsforweb_fontid_6771">
    <div class="container ">
      <h5 style="margin-top:7rem; color:#EEC900;" class="animated rotateIn">Jewelry is one of our most intimate and cherished accessories. Understanding how to care for our treasured jewelry can make a world of difference in maintaining its beauty and keeping its quality sparkling for generations to come.</h5>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="jumbotron animated slideInLeft" style="background: linear-gradient(90deg, #85968e,#acbfae, #a6b2a4,#b2c1a7,#758673)">
            <h3 style="color:#eff6e0" class=""> <center> STORAGE </center> </h3>
            <p style="color:#eff6e0;" class="">It is best to store your diamond jewelry separately. Jewelry should never be tossed into a drawer or on top of a dresser, which would result in scratches and fractured gems. We suggest individual jewelry cases, cloth pouches, or a fabric-lined jewelry box with separate dividers and compartments, since your diamonds and jewelry may become scratched or damaged when allowed to contact other jewelry. Jewelry boxes featuring individually padded slots for rings, and posts for hanging bracelets and necklaces, are also ideal. Opals, like Pearls, draw moisture from the air. So, storing opal rings or pearl earrings in a dry area, such as a safe deposit box, actually does more harm than good. Even, when travelling with jewelry, protect the pieces from scratches or other impact damage by padding the jewelry.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="jumbotron animated slideInRight" style="background: linear-gradient(90deg, #eeeeee,#d6d6d6, #d6ead3,#ffffff,#ffffff)">
            <h3 style="color:black"> <center> CLEANING </center> </h3>
            <p style="color:black; ">Lotions, soaps, powders, perfumes, and hair spray are great hindrances to beautiful and sparkling jewelry. Be sure your skin is free from these or other products prior to putting on your jewelry. From time to time you may want to clean your diamond jewelry at home. Contrary to popular belief, toothpaste is not recommended. The abrasives present in toothpaste will subtly dull the metal of your setting. It is best to prepare a solution of 1 part ammonia to 4 parts warm water. Add a small amount of a mild liquid dishwashing soap. Let your jewelry soak for approximately 10 minutes. Scrub the jewelry gently with a new soft toothbrush that you will use for jewelry cleaning only. Dip the jewelry in the solution repeatedly then rinse under warm-hot tap water. Pat the jewelry dry with a lint-free cloth.</p>
        </div>
      </div>

    </div>
  </section>

  <section id="jewelcare2" class="fontsforweb_fontid_6771">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <div class="jumbotron animated slideInLeft" style="background: linear-gradient(90deg, #eeeeee,#d6d6d6, #d6ead3,#ffffff,#ffffff)">
            <h3 style="color:black"> <center> EXTENDED </center> </h3>
            <p style="color:black; ">Jewelry should not be worn while participating in sporting activities or heavy labor. Diamonds may be chipped by a hard impact. Jewelry may be damaged or broken during strenuous activities. Do not allow your gold jewelry to come in contact with harsh chemicals such as chlorine and bleach. Remove your jewelry prior to entering a swimming pool or hot tub. Repeated exposure to even small amounts of these chemicals has a cumulative effect, causing gold to become brittle and susceptible to breaks and prong failure. Avoid self-repairing jewelry and it should never be forced, twisted, snapped or tightened.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="jumbotron animated slideInRight" style="background: linear-gradient(90deg, #85968e,#acbfae, #a6b2a4,#b2c1a7,#758673)">
            <h3 style="color:black"> <center> INSPECTION </center> </h3>
            <p style="color:black; ">Have your jewelry professionally inspected at least once a year. When having your jewelry professionally cleaned, it is a good idea to have each item checked and inspected for any possible problems such as loose stones, bent prongs, or signs of wear. Addressing signs of damage, or loose gemstones will prevent any further damage or loss and keep your jewelry in excellent shape for years. Just like anything else, an ounce of prevention is worth a pound of cure. So why not prevent future damages to make our precious and cherished accessories sparkle forever for generations and generations!!</p>
        </div>
      </div>

    </div>
  </section>


{% endblock %}
